<p id="notice"><%= notice %></p>

<h1>Listing Days</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Breakfast</th>
      <th>B syns</th>
      <th>Lunch</th>
      <th>L syn</th>
      <th>Dinner</th>
      <th>D syns</th>
      <th>Snacks</th>
      <th>S syns</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @days.each do |day| %>
      <tr>
        <td><%= day.title %></td>
        <td><%= day.breakfast %></td>
        <td><%= day.b_syns %></td>
        <td><%= day.lunch %></td>
        <td><%= day.l_syn %></td>
        <td><%= day.dinner %></td>
        <td><%= day.d_syns %></td>
        <td><%= day.snacks %></td>
        <td><%= day.s_syns %></td>
        <td><%= day.date %></td>
        <td><%= link_to 'Show', day %></td>
        <td><%= link_to 'Edit', edit_day_path(day) %></td>
        <td><%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Day', new_day_path %>
