<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @day.title %>
</p>

<p>
  <strong>Breakfast:</strong>
  <%= @day.breakfast %>
</p>

<p>
  <strong>B syns:</strong>
  <%= @day.b_syns %>
</p>

<p>
  <strong>Lunch:</strong>
  <%= @day.lunch %>
</p>

<p>
  <strong>L syn:</strong>
  <%= @day.l_syn %>
</p>

<p>
  <strong>Dinner:</strong>
  <%= @day.dinner %>
</p>

<p>
  <strong>D syns:</strong>
  <%= @day.d_syns %>
</p>

<p>
  <strong>Snacks:</strong>
  <%= @day.snacks %>
</p>

<p>
  <strong>S syns:</strong>
  <%= @day.s_syns %>
</p>

<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
