<div class="page-header">
  <h1><%= @user.profile_name %></h1>
  <h3>About Me</h3>
  <p><strong>Rank: </strong><%= @user.rank %></p>
  
  
<% if current_user.present? %>
  <% if current_user.profile_name == "admin" %>
    <a href= "<%= edit_user_path(@user.id) %>">Edit User's Profile</a>
  <% end %>
<% end %> 
  <p></p>
  
  <p class="my-pre"><%= @user.description %></p>
  <h3>Characters</h3>
  <p><%= @user.character_names %></p>


  <h3>Characters</h3>
  <% if @characters %>
      <% @characters.each do |character| %>
          <div class="panel panel-default">
            <h4><%= link_to character.full_name, character_path(character) %></h4>

          </div>
      <% end %>
  <% end %>

  <h3>Journal Entries</h3>
  <% if @statuses %>
    <% @statuses.each do |status| %>
    <div class="panel panel-default">
      <strong><h4><%= link_to status.title, "journal/#{status.id}" %></h4></strong>
      <%=time_ago_in_words(status.created_at)%> ago
      
    </div>
    <% end %>
  <% end %>




</div>