<%= simple_form_for(@status, html: {class: "form-horizontal" }) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <h4>Entry for <%=  current_user.profile_name%></h4>
   
   <h4>Title </h4><%= f.input :title %>
   
   <h4>Journal Entry</h4><%= f.input :content %>
   
   
   </br>
    <%= f.submit "Post" %>
  
<% end %>
