<div class="page-header">
  <h1>Journals</h1>
</div>

<!-- Button for creating a new post. Using Twitter boot strap -->
<% if current_user.present? %>
    <%= link_to "Make new journal entry", journal_new_path, class: "btn" %>
<% end %>

<!-- An 'each' loop taking each item in 'statuses' and assigning it to the value 'status' for use in each iteration -->
<% @statuses.each do |status| %>
<div class="status">
  <div class="row">
  <div class="span1">
    
  <%= image_tag status.user.gravatar_url %>
  </div>
  <div class="span7"> 
    
  
  <!-- Display the journal title name -->
  
  <strong><h4><%= link_to status.title, "journal/#{status.id}" %></h4></strong>
  <!-- Display the author name -->
  <a href=<%=status.user.profile_name %>> By <%= status.user.profile_name %></a>
  
  
  <!-- Display how long ago it was posted -->
  <div class="meta">
    <%= time_ago_in_words(status.created_at) + " ago" %>
    <!-- Display options for editing and deleting these. Whether they display or not relies on CSS styling and Javascript (see: "statuses.coffee") -->
    <% if current_user.present? %>
      <% if status.user.profile_name == current_user.profile_name %>
        <span class="admin">
          
          | <%= link_to "Edit", journal_edit_path(status) %> |
          <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delete this post?"} %>
        </span>
        <% else %>
          
       
      
      <% end %>
    
      <% if current_user.profile_name == "admin" %>
        <span class="admin">
          
          | <%= link_to "Edit", edit_status_path(status) %> |
          <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delete this status?"} %>
        </span>
        <% else %>
          
       
      
      <% end %>
    
    <% end %>
  </div>
</div>
  </div>
</div>
<% end %>
