<!-- This page is to 'show' a post -->
<p id="notice"><%= notice %></p>

<p>
  <!-- Show the user name of the post maker. -->
  
  
</p>

<p>
  <!-- Show the post itself -->
  <h3><%= @status.title %></h3>
  <h4>By <%= @status.user.profile_name %></h4>
  <pre><%= @status.content %></pre>
</p>

<!-- Link in the paths to either 'edit' the content or just return to the main page -->
<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
