<!-- This page is to 'show' a post -->
<p id="notice"><%= notice %></p>

<p>
  <!-- Show the user name of the post maker. -->
  
  
</p>

<p>
  <!-- Show the post itself -->
  <h3><%= @status.title %></h3>
  <h4>By <%= @status.user.profile_name %></h4>
  <div class="my-pre"><%= @status.content %></div
</p>

<!-- Link in the paths to either 'edit' the content or just return to the main page -->
<% if current_user.present? %>
  <% if @status.user.profile_name == current_user.profile_name %>
<%= link_to 'Edit', journal_edit_path(@status) %> |<% end %><% end %>
<%= link_to 'Back', journal_path %>
