<p id="notice"><%= notice %></p>

<p>
  
  <h2><%= @event.title %></h2>
  
  <div class="my-pre"><%= @bbDescription.html_safe %></div>
</p>
  <strong>Date:</strong> <%= @event.date %>
</p>
<p>Created by <%= @event.user.profile_name%></p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
