


<%= simple_form_for(@news) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :Title, placeholder: 'Your Title' %>

    <%= f.input :Content, placeholder: 'Your Article' %>

  </div>

  <div class="form-actions">
    <%= f.submit "Post" %>
  </div>
<% end %>
 