<p id="notice"><%= notice %></p>


<div class="content">
<h3>The Crew</h3>
<p>The crew is made up of misfits and odd sods. Click on a photos to view information on a crewmate.</p>    
      
    <div id="character-menu" class="top-bar">  
      <ul class="bar-menu">
        <li id="saefinn-link"><a href="#"><img src="http://i.imgur.com/xa7317T.png"></img>Saefinn</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Laurenenne</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Beldrem</a></li>
        <li id="xhayu-link"><a href="#"><img src="http://i.imgur.com/toFLHkX.png"></img>X'hayu</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Kai</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Shayith</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Strawberry</a></li>
        <li id="vhaso-link"><a href="#"><img src="http://i.imgur.com/a0c1bUj.png"></img>Vhaso</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Lulu</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Naomi</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Sophie</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Soon</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>K'ahli</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Laura</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Sarantai</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Caliana</a></li>
      </ul>
    </div>

    <div id="crew">
      
      <p>There are general roles we try to fill with the crew</p>
      <p><span class="highlight">Leadership</span> There are 3 types of leaders, Captain, Officer and Allied Officer. Captain will be filled by the most senior person, which would be Saefinn, the officers can actually be other captains, such as Laurenenne who captains her own airship. Officers (normal and allied) can take over leadership from the captain in his absence. Allied officers, are the same as officers, but may work for an organisation, such as the Maelstrom, like Beldrem or the Sultansworn like X'hayu.</p>
      <p><span class="highlight">House Staff</span> They are responsible for duties surrounding the estate. They can be a chef, a baker, bar staff, clinic staff, garden staff, stable staff and so on. Heading the kitchen are Shayith and Strawberry, who also help with the bar. The stables are currently taken care of by Vhaso.</p>
      <p><span class="highlight">Combatative Types</span> At times the crew get in a pinch that talking won't help them out of. Sometimes one has to fight their way through. For this reason, we have members who can fight.</p>
      <p><span class="highlight">Scholarly Types</span> Brawn isn't everything, a learned mind can account for a deadly strategy. A skilled alchemist, a master of magic, experts of strategy, adept healers. We make use of them all.</p>
      <p><span class="highlight">Artisan Types</span> Running ships and arming them with weapons will require a trusted engineer. Clothes a little worse for wear? Need something specific? A tailor doesn't go amiss. Need protection? An armourer is always nice. Somebody need a better sword? We like blacksmiths too.</p>
      <p><span class="highlight">Entertainer Types</span> To keep our guests entertained, music, song, stories and dance. We have the space for it, always room to fill it. We run a tavern event perfect for these types. Some contracts will make good use of entertainers too.</p>
      <p><span class="highlight">Sailors</span> These are always implied, we've generally had it that people who man the ship are faceless and anonymous and are there to man the ship when moving cargo, as it's often done in the background. The reason for this is that we've never had RPer's taking up the role. However, should somebody wish to RP one such person, they are welcome to. </p>
    </div>
</div>

<!--
<section>

  <ul id="item" class="section group">

    <% if current_user.present? %>

    <% end %>


        <% @characters.each do |character| %>
           <li class="col span_1_of_3">
                 <strong>
                  <%= link_to character.first_name + " " + character.last_name, character %>
                 </strong>
                <p>
                  Author: <a href=<%=character.user.profile_name %>><%= character.user.profile_name %></a>
                </p>
                <% if current_user.present? %>
                    <% if character.user.profile_name == current_user.profile_name %>
                        <span class="admin">
                            <%= link_to 'Edit', edit_character_path(character) %> |
                            <%= link_to 'Delete', character, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </span>
                    <% end %>
                <% end %>
           </li>
        <% end %>

     </ul>
</section>
<div class="digg_pagination">
<%= will_paginate @characters %>
    </div>
-->