<p id="notice"><%= notice %></p>


<div class="content">
<h3>The Crew</h3>
<p>The crew is made up of misfits and odd sods. Click on a photos to view information on a crewmate.</p>    
      
    <div id="character-menu" class="top-bar">  
      <ul class="bar-menu">
        <li id="saefinn-link"><a href="#"><img src="http://i.imgur.com/xa7317T.png"></img>Saefinn</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Laurenenne</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Beldrem</a></li>
        <li id="xhayu-link"><a href="#"><img src="http://i.imgur.com/toFLHkX.png"></img>X'hayu</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Kai</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Shayith</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Strawberry</a></li>
        <li id="vhaso-link"><a href="#"><img src="http://i.imgur.com/a0c1bUj.png"></img>Vhaso</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Lulu</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Naomi</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Sophie</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Soon</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>K'ahli</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Laura</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Sarantai</a></li>
        <li><a href="#"><img src="http://i.imgur.com/uyfgrHw.png"></img>Caliana</a></li>
      </ul>
    </div>

    <div id="crew">
      
      <p>There are general roles we try to fill with the crew</p>
      <p><span class="highlight">Leadership</span> There are 3 types of leaders, Captain, Officer and Allied Officer. Captain will be filled by the most senior person, which would be Saefinn, the officers can actually be other captains, such as Laurenenne who captains her own airship. Officers (normal and allied) can take over leadership from the captain in his absence. Allied officers, are the same as officers, but may work for an organisation, such as the Maelstrom, like Beldrem or the Sultansworn like X'hayu.</p>
      <p><span class="highlight">House Staff</span> They are responsible for duties surrounding the estate. They can be a chef, a baker, bar staff, clinic staff, garden staff, stable staff and so on. Heading the kitchen are Shayith and Strawberry, who also help with the bar. The stables are currently taken care of by Vhaso.</p>
      <p><span class="highlight">Combatative Types</span> At times the crew get in a pinch that talking won't help them out of. Sometimes one has to fight their way through. For this reason, we have members who can fight.</p>
      <p><span class="highlight">Scholarly Types</span> Brawn isn't everything, a learned mind can account for a deadly strategy. A skilled alchemist, a master of magic, experts of strategy, adept healers. We make use of them all.</p>
      <p><span class="highlight">Artisan Types</span> Running ships and arming them with weapons will require a trusted engineer. Clothes a little worse for wear? Need something specific? A tailor doesn't go amiss. Need protection? An armourer is always nice. Somebody need a better sword? We like blacksmiths too.</p>
      <p><span class="highlight">Entertainer Types</span> To keep our guests entertained, music, song, stories and dance. We have the space for it, always room to fill it. We run a tavern event perfect for these types. Some contracts will make good use of entertainers too.</p>
      <p><span class="highlight">Sailors</span> These are always implied, we've generally had it that people who man the ship are faceless and anonymous and are there to man the ship when moving cargo, as it's often done in the background. The reason for this is that we've never had RPer's taking up the role. However, should somebody wish to RP one such person, they are welcome to. </p>
    </div>
</div>

<div id="saefinn" class="pop-out">
        <div class="popout-block">
        <a href='#' class="closeX" onclick="closeWindow();">x</a>
        
          <h3><span class="highlight">Captain</span> Saefinn Liljasson</h3>
        <h4>The Scholar Captain</h4>
        <img src="http://i.imgur.com/U5MRo5N.png"></img>
        <p class="letter">The brave and daring Saefinn Liljasson, a captain of the people, a true hero among mortals. He has nominations for best Oscar and also the nobel peace prize. He once stopped Taylor Swift mid-speech, not to compliment Beyonce, but to tell the world that he is one of her many ex-boyfriends and that she should call some time.</p>
        <p>All right, that's not what Saefinn is really like, but you almost believed the bit about the Noble Peace prize, didn't you? What do you mean there's no Nobel Prize in Eorzea? I am pretty sure I saw somebody called Taylor Swift at least.</p>
       <p>Saefinn is the formerly drunk captain, now just a captain who tries to figure out how to get drunk, not take it too far and not have anybody notice. He is an idealist, who believes that piracy should not be a free-for-all 'nothing matters' kind of gig, he believes in freedom and believes the laws to be more advisary than actual laws. But he sees an ugliness in the kind of piracy the likes of The Reavers show. To the point where he'll perfectly happily blow them out of the water and leave no survivors. But he doesn't believe in the way of the Maelstrom either, in princple, he believes that yes, people ought to be "good", but the world is too dirty to do things by the book, that it restricts what one can do. And he views that there isn't justice in the Maelstrom way, that innocent people in the wrong place at the wrong time can just end up sharing the same cell as the worst kind of pirate. Particularly with corruption among its ranks. Saefinn never saw light as to why the Admiral thought it a good idea to let Pirates become Privateers. They are still the salty sea bags they were before, but with authority. </p>
        <p>It is behind those ideas that he drives The Pirates of the Wayward Star. He believes in a crew that always watches each other's back, but those who stab a crew mate's back are in for a fate that's not for polite conversation. He believes those who exploit others to be fair game, but those just trying to make it by and are innocent, to be off limits. His family were once the honest types and it got them nowhere but at the bottom of society and they were trampled on. So he has a special spot there.</p>
      </div>
</div>

<div id="xhayu" class="pop-out">
        <div class="popout-block">
        <a href='#' class="closeX" onclick="closeWindow();">x</a>
        
          <h3><span class="highlight">Sworn</span> X'hayu Nhokhi</h3>
        <h4>The Sultansworn</h4>
        <img src="http://i.imgur.com/aRHsB4Q.png"></img>
        <p class="letter">How does a Sultansworn get on a pirate a crew? A better question is, how does a Sultansworn end up in a relationship with a pirate captain? That is correct, Captain Saefinn and X'hayu are (much to X'hayu's dismay) a couple. Really, to answer these two questions, we have to look at her history. X'hayu (pronounced Sha'Hayu) grew up as part of a tribe, some bad things happened, she betrayed a few people, joined the Empire, killed her true love and kinded ended up down a road she would later regret. She defected, seeking to do her best to right her wrongs and help people and work against the empire. First she thought she could make it out in The Shroud, scouting imperials and also helping keep them at bay. But her friend - fellow Garlean defector - Steinn had ended up in Ul'dah, was recruited into a pirate crew, then with his riches, left to become an entrepreneur, hiring Ala Mhigan refugees as his staff. Talk about a guilt complex, eh?
  
  He ended up becoming successful and got closer and close to the Syndicate, who didn't favour helping the refugees too much. X'hayu saw an opportunity here to help and would work her ranks and through selfless deed after selfless deed, she managed to attract the attention of the Sultansworn. As we know, the Sultana's heart went out to the refugees and her interests were not too different to X'hayu's. So, she would swear her oath to the Sultana. She kept close connections with Steinn and he kept close connections with his former crew. X'hayu had no qualms about doing things behind the Sultana's back to help Ala Mhigans who needed it and she had no qualms if the Syndicate unknowingly donated. Yep, that is where pirates come in. Steinn's former crew were the pirates of the Wayward Star.
 
For X'hayu, she at times dependedo n the help of the crew and would return the favour. It wasn't until the Garleans came for Steinn and herself that she found herself becoming closer. The crew had her back, they did everything they could and kept her under their protection, despite knowing who she was the terrible things she had done for the empire. It was after the Captain's brother and mother were caught in the crossfire that X'hayu felt truly in debt and had that guilt hanging over her. Instead of letting it break her, she would try to stand by the crew and its captain. But watching Captain Saefinn descend into self-pity, that he let tragedy break him, that she got angry. Watching him drink and punish himself, she didn't like it, she expected the pirate captain to be strong and carry on. It became a relationship of hate and respect. She still respected him, but hated him for turning into the person he had become. He was no longer a great (though idiotic) pirate captain, he was now a drunk, weak and made a plethora of bad decisions to compromise himself and his crew. 
 
But she did not give up. She, and other members of his crew helped him get clean. It was after his becoming clean that actually, they are good for each other. He still irritates her though, because he has one great skill and that is pushing people's buttons. It is no wonder he keeps getting shot.
 
Her place on the crew is that she helps keep them out of trouble in Ul'dah, she helps cover their backs. She has a few conditions, they are protected, but it's not Leathal Weapon and they don't have diplomatic immunity. X'hayu can only do so much. She will also give jobs for the crew in Ul'dah territory and they will usually center around Ala Mhigans. She will also at times command the crew in Saefinn's absence, she has grown familiar enough with their ways and has done plenty to earn it. Including saving the Captain's life on more than one occassion. She also helps keep the Captain in line, which in itself is a big job.
  
She is short tempered and at times angry. These days, she can control her temper better, but that doesn't stop her from giving a sarcastic or bitchy remark. She has overcome some of the hangups that made her so angry in the first place. But do not take that for granted of course. She will also show a gentler side, if her experience or knowledge can help somebody, then she will offer it. She will share her stories, when relevant, but may or may not leave out details, given her past. She would always come to the defence of a member of the crew or somebody in their care, regardless of how she feels about them. Even if she prefers them dead. Her ideal death would be protecting the life of somebody else.</p>
        
      </div>
    </div>

<div id="vhaso" class="pop-out">
        <div class="popout-block">
        <a href='#' class="closeX" onclick="closeWindow();">x</a>
        
          <h3><span class="highlight">Stablehand</span> Vhaso Jakkya</h3>
        <h4>The Xaela Mummer</h4>
        <img src="http://i.imgur.com/r5JHIWX.png"></img>
  <p class="letter">Formerly known as <span class="highlight">Yesunova Hotgo</span>, an Au Rau whose life has faced many prejudices, yet, she remains with her head up high and a song in her heart. The world can be a tough place for all, especially as Eorzea has come to know some of its greatest struggles and it boils down to how one learns to deal with those hardships. Some can choose to let it defeat them, some let it break them, some can choose to let it define them, to drive them, and Vhaso? She has chosen to be above it. Not let it change the skip in her step. She remains a caring soul, seeking to try and uplift the spirits of those around here, as she once did for her tribe. 
  
She was first discovered by Strawberry, our baker, Vhaso had been living on the streets and sought to beg and steal to make her way. It was the crew's estate she sought to rob, Berry caught her in the act. Vhaso's stomach rumbled and Berry's immediate reflex was to feed her. Instead of throwing Vhaso back out on the streets with a hard cold message as to why you do not try to rob pirates, she was given a job as a stablehand, looking after chocobos. Being of a Xaela tribe that rode horses, she had been quite familiar with the stables and it would have seen an appropriate job, but chocobos are not horses, nor do they share the same temprement, Vhaso has spent time learning to be diplomatic with our feathery friends, but still gets nipped by Berry's poorly tempered Pudding.
  
Among her tribesfolk, she was among the group of people who would tell stories and sing songs of their ancestors, to help fill the hearts of warriors and hunters with courage. Inspiration to carry on through hard times, as their ancestors did. There would be soft tales, of tender love and hearts broken and of humour and folly and the misfortunes of those who paid no heed to their surroundings or warning.
  
For the bar at the estate, she plays music, sings songs and tells stories for the entertainment of guests. The instrument she plays is the Morin Khuur, in the real world, a Mongolian instrument, it is a two stringed fiddle. See below:

<iframe width="700" height="394" src="https://www.youtube.com/embed/H3cB20fZ1ZU" frameborder="0" allowfullscreen></iframe></p>
        
      </div>
    </div>




<!--
<section>

  <ul id="item" class="section group">

    <% if current_user.present? %>

    <% end %>


        <% @characters.each do |character| %>
           <li class="col span_1_of_3">
                 <strong>
                  <%= link_to character.first_name + " " + character.last_name, character %>
                 </strong>
                <p>
                  Author: <a href=<%=character.user.profile_name %>><%= character.user.profile_name %></a>
                </p>
                <% if current_user.present? %>
                    <% if character.user.profile_name == current_user.profile_name %>
                        <span class="admin">
                            <%= link_to 'Edit', edit_character_path(character) %> |
                            <%= link_to 'Delete', character, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </span>
                    <% end %>
                <% end %>
           </li>
        <% end %>

     </ul>
</section>
<div class="digg_pagination">
<%= will_paginate @characters %>
    </div>
-->