
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "well"}) do |f| %>
  
<h2>Log In!</h2>
    
  <%= f.input :email %>
  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
    <div class="null">
      <%= f.input :remember_me, as: :boolean %>
      
    </div>
  <% end -%>

  <div class="null">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


  <div class="null">
    <h2>If you do not have an account, please sign up.</h2>
  </div>


