<script>
$(function() {
    // Replace all textarea's
    // with SCEditor
    $("textarea").sceditor({
        plugins: "bbcode",
	style: "jquery.sceditor.default.min.css",
    toolbar: "bold,italic,underline,strike|bulletlist,orderedlist,code,quote|image,link,unlink,maximize|left,center,right|color,cut,copy,paste,pastetext|source"
    });
});
</script>

<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">


    <%= f.input :character_id, collection: Character.where(:user_id => current_user).all ,label_method: :first_name, prompt: "Select a Character" %>

    <%= f.input :name, placeholder: 'Item Name' %>
    <h3>Description</h3>
    <%= f.input :description, placeholder: 'Item Description' %>
    <%= f.input :quantity, placeholder: 'Quantity' %>
    <br />
    <p>This is to give the item a purpose. This is a placeholder for now. However, it will be used in battle based roleplay</p>
    <%= f.input :effect, placeholder: 'Effect' %>
    <p>This will be a numeric value to determine how effective an item is. For now. It is blank, whilst RP rules are being figured out.</p>
    <%= f.input :modifier, placeholder: 'Effect Modifier' %>

  </div>

  <div>
    <%= f.button :submit %>
  </div>
<% end %>
