<p id="notice"><%= notice %></p>

<h1>Items</h1>

<section>
    <ul id="item" class="section group">
    <% @items.each do |item| %>



      <li class="col span_1_of_3">
        <h4><%= link_to item.name, item_path(item) %></h4>
       <p>Quantity: <%= item.quantity %></p>
        <p class="my-pre"><%= item.description%></p>
        <p><strong>Effect: </strong><%= item.effect %> | <strong>Effect Modifier: </strong> <%= item.modifier %></p>

        Belongs to <%= item.character.first_name + " " + item.character.last_name %>

        <br />
        <br />
        <%= link_to 'Edit', edit_item_path(item) %> |
        <%= link_to 'Discard', item, method: :delete, data: { confirm: 'Are you sure?' } %>

         </li>


    <% end %>
    </ul>
</section>