<p id="notice"><%= notice %></p>

<h1>Items</h1>



    <% @items.each do |item| %>



    <div class = "item">
        <h4><%= link_to item.name, item_path(item) %></h4>
       <p>Quantity: <%= item.quantity %></p>
        <p class="my-pre"><%= item.description%></p>
        <p><strong>Effect: </strong><%= item.effect %> | <strong>Effect Modifier: </strong> <%= item.modifier %></p>

        Belongs to <%= item.character.first_name + " " + item.character.last_name %>

        <br />
        <br />
        <%= link_to 'Edit', edit_item_path(item) %> |
        <%= link_to 'Discard', item, method: :delete, data: { confirm: 'Are you sure?' } %>

    </div>


    <% end %>

<br>

<div class="bottom">

</div>
