<p id="notice"><%= notice %></p>

<h1>Items</h1>

<section>
    <ul id="item" class="section group">
    <% @items.each do |item| %>



      <li class="col span_1_of_3">
        <p><strong><%= link_to item.name, item_path(item) %> </strong> x<%= item.quantity %></p>

       
        <!--<p class="text-summary"><%= item.description%></p>-->
        <!--<p><strong>Effect: </strong><%= item.effect %> | <strong>Effect Modifier: </strong> <%= item.modifier %></p>-->

        Belongs to <%= item.character.first_name + " " + item.character.last_name %>
        
  <% if current_user.present? %>
      <% if item.character.user.profile_name == current_user.profile_name %>
        <span class="admin">
          <%= link_to 'Edit', edit_item_path(item) %> |
        <%= link_to 'Discard', item, method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
        <% else %>
          
       
      
      <% end %>
    
      <% if current_user.profile_name == "admin" %>
        <span class="admin">
			<%= link_to 'Edit', edit_item_path(item) %> |
            <%= link_to 'Discard', item, method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
        <% else %>
          
       
      
      <% end %>
    
<% end %>
         </li>


    <% end %>
    </ul>
</section>
<div class="digg_pagination">
<%= will_paginate @items %>
    </div>