

  
  


<% @sections.each do |sect| %>
          <% if @found == false %>
            <% if params[:section] == sect.title %>
              <% @found = true %>
            <% end %>
          <% end %>
          
          
<% end %>

<% if @found == false %>
  <h1>Select a Forum</h1>
  
  
    <p><strong>Lastest Thread:</strong>
      <%= link_to @posts_all.last.title, post_path(@posts_all.last.id) %> by <%= @posts_all.last.user.profile_name %> <%= time_ago_in_words(@posts_all.last.created_at) %> ago
    <p>
    
    <p><strong>Latest Post</strong> in <%= link_to @comments.last.post.title, post_path(@comments.last.post.id) %> by <%= @comments.last.post.user.profile_name %> <%= time_ago_in_words(@comments.last.created_at) %> ago</p>


<% end %>




<% @sections.each do |sect| %>
          
          
            
          <% if @found == false %>
                <div class="journal">
                  
                    <h2><a href="?section=<%=sect.title%>"><%= sect.title %></a></h2>
                    
                    
                </div>
                
                
                
          <% end %>
          
          
          
          
            <% if params[:section] == sect.title %>
              <h1><%= sect.title %> Threads</h1>
                
                <% @posts.each do |post | %>
                  
                <div class="journal">
                
                  <h4><%= link_to post.title, post %> </h4>
                  <p>
                  Published <%= time_ago_in_words(post.created_at) %> ago
                  by
                  <%= post.user.profile_name %>
                  </p>
                </div>
                
                
                
                <% end %>
                
                
                
                <div class="digg_pagination">
                <%= will_paginate @posts %>
                </div>
              
             <%end %>
          
<% end %>   

