



<% @sections.each do |sect| %>
          
          
            
          <% if @found == false %>
                <div class="section">
                  
                    <a href="?section=<%=sect.title%>" class="section-title"><%= sect.title %></a>
                    
                    
                </div>
                
                
                
          <% end %>
          
          
          
          
            <% if params[:section] == sect.title %>
              <!--<h1><%= sect.title %> Threads</h1>-->
                
                <% @posts.each do |post | %>
                  
                <div class="journal-item">
                  <h4><%= link_to post.title, post %> <span id="published">Published <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.profile_name %></span></h4>
                </div>
                
                
                
                <% end %>
                
                
                
                <div class="digg_pagination">
                <%= will_paginate @posts %>
                </div>
              
             <%end %>
          
<% end %>   

