<!DOCTYPE html>
<html>
<head>
  <title>Pirates of a Wayward Star</title>
  <!-- Link all necessary Javascripts and Stylesheets and meta tags -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <!-- The Navigation Bar using Twitter Bootstrap -->
<div class ="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Wayward Star</a>
      <ul class="nav">
        <!-- This will link to all of the posts using a Rails path -->
        <li><%= link_to "Rules", rules_path %></li>
        <li><%= link_to "Members", user_list_path %></li>
        <li><%= link_to "Characters", characters_path %></li>
        <li><%= link_to "Journals",feed_path %></li>
        <li><%= link_to "Items", items_path %></li>

      </ul>
      <!-- This will be to either give the option to log in or register and if logged in. To go to the profile page or log out -->
      <ul class="nav pull-right">
        <% if user_signed_in? %>
        <li><%= link_to current_user.profile_name, edit_user_registration_path %></li>
        <li><%= link_to "Log Out", logout_path %> </li>
        <% else %>
          <li><%= link_to "Register", register_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

</div>

<% if current_user.present? %>


  <div class="secondary-menu">
    <div class="second-inner">
      <div class="container">
        <%= link_to "New Character", new_character_path %> <%= link_to "New Journal Entry", journal_new_path %> <%= link_to 'New Item', new_item_path %>
      </div>

    </div>
  </div>
<% end %>

<div class="container">
  <!-- These are 2 tags required by Devise that we will address at a later date -->
    
    <% flash.each do |type, message| %>
      <div class="alert <%= flash_class type %>">
        <button class="close" data-dismiss="alert">x</button>
        <%= message %>
      </div>
    <% end %>
    
    <div class="main-text">
    
  <!--This is the actual page content -->
<%= yield %>
</div>

</div>

</body>
</html>
